*
{
  border: 2px solid red;
}
h1 {
  color: red;
}

p{
    color:blue;
}

li{
    color:green;
    list-style-type: "\1F44D"; // thumbs up sign
}

.special {
    color: gold;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size : 400%;
}

p span {
    color : red
}

a:link {
    color:pink;
}

a:visited {
    color: green;
}

a:hover {
    color:yellow;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}
